# Web
Flask>=2.0.0
Werkzeug>=2.0.0

# Core
requests>=2.26.0
Pillow>=9.0.0
numpy>=1.24.0
python-dotenv>=1.0.0

# API
aiohttp>=3.8.1
aiofiles>=0.8.0

# 阿里云函数计算需要的库
fcpy>=1.0.0

# 图像处理
opencv-python-headless

# 可选项 - 如果需要再解除注释
# GFPGAN
# realesrgan
# torch==1.13.1
# torchvision==0.14.1